# Ignore build and compiled files
KashmiriTourister/bin/
KashmiriTourister/.config/
obj/

# Ignore Visual Studio files
.vs/
*.suo
*.user

# Ignore local configuration files
appsettings.Development.json
appsettings.Local.json
